.article-section {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 3rem;
}

.title {
  margin: 0.75rem 0;
}

.no-result {
  margin-top: 3rem;
  font-size: var(--fs-400);
  color: var(--clr-off-white);
}
