.single-post {
  --color: var(--clr-light-gray-400);
  --font-size: var(--fs-450);
  --line-height: 28px;

  color: var(--color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding-bottom: 2rem;
  font-weight: 400;
  margin: 6rem 0 0 0;
}

.thumbnail {
  width: 100%;
}

.header-info-wrapper {
  width: min(700px, 100%);
  margin-inline: auto;
  padding: 1.75rem 1rem 0 1rem;
  border-bottom: 1px solid hsla(215 14% 34%/ 0.2);
}

.title {
  line-height: 1.5;
}

.date-and-views-wrapper {
  display: flex;
  gap: 1.75rem;
}

.post-date-published,
.views-wrapper {
  display: flex;
  align-items: center;
  color: var(--clr-light-gray);
  gap: 6px;
  font-size: var(--fs-200);
  margin: 8px 0;
}

.views-wrapper svg[class*="MuiSvgIcon-root"] {
  font-size: 18.5px;
}

.tag-wrapper {
  display: flex;
  gap: 12px;
  padding-bottom: 1.75rem;
}

.single-post__body {
  padding: 1.75rem 1rem;
}

.single-post__body ul {
  list-style-position: inside;
}

.single-post__body strong {
  color: var(--clr-white);
}

.single-post__body pre {
  --border-radius: 8px;
  border-radius: var(--border-radius);
  padding: 6px !important;
  font-size: 0.725rem !important;
  letter-spacing: 0.02rem;
  overflow: auto;
  border: 1px solid var(--clr-border);
  background: #1c1d21 !important;
}

.single-post__body pre::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: var(--clr-border);
}

.single-post__body pre::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
}

.single-post__body pre::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: #696968;
}

.single-post__body p span {
  color: var(--color) !important;
}

.single-post__body img {
  width: 100%;
}

.views-wrapper {
  display: flex;
}

@media (min-width: 700px) {
  .single-post {
    padding-top: 2rem;
  }
  .header-info-wrapper {
    padding: 1.75rem 0 0 0;
    border: none;
  }
  .header-info-inner-wrapper {
    margin: 0 1rem;
    border-bottom: 1px solid hsla(215 14% 34%/ 0.2);
  }
  .thumbnail {
    width: min(700px, 100%);
    margin-inline: auto;
    border: 1px solid var(--clr-border);
    border-radius: 4px;
    overflow: hidden;
  }
}

/* ============== LIGHT MODE ==================== */
html[data-color-scheme="light"] .single-post {
  --color: #374151;
}

html[data-color-scheme="light"] .post-date-published,
html[data-color-scheme="light"] .views-wrapper {
  color: var(--color);
}

html[data-color-scheme="light"] .single-post__body pre {
  background: hsl(var(--clr-neutral-border) / 0.2) !important;
}
html[data-color-scheme="light"] .single-post__body pre code {
  color: var(--color);
}
html[data-color-scheme="light"] .single-post__body pre span {
  color: var(--color);
}
html[data-color-scheme="light"]
  .single-post__body
  pre
  span[style="color: rgb(156, 220, 254);"] {
  color: #0284c7 !important;
}
html[data-color-scheme="light"]
  .single-post__body
  pre
  span[style="color: gold;"] {
  color: #ca8a04 !important;
}
html[data-color-scheme="light"]
  .single-post__body
  pre
  span[style="color: rgb(215, 186, 125);"] {
  color: #ea580c !important;
}
html[data-color-scheme="light"]
  .single-post__body
  pre
  span[style="color: rgb(214, 157, 133);"] {
  color: #ea580c !important;
}
html[data-color-scheme="light"]
  .single-post__body
  pre
  span[style="color: rgb(87, 166, 74); font-style: italic;"] {
  color: #10b981 !important;
}
