.tag-input {
  position: absolute;
  left: -999999px;
  opacity: 0;
}

.tag-checkbox {
  --tag-border-raduis: 8px;
  --height: 28px;
  --border-color: var(--clr-border);
  --bg-color: var(--clr-neutral-border);
  --color: var(--clr-off-white);
  --opacity: 0.1;
  --font-weight: var(--fw-400);
  --outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  font-size: var(--fs-100);
  height: var(--height);
  border-radius: var(--tag-border-raduis);
  box-shadow: inset 0 0 0 0px #fff, inset 0 0 0 1px var(--border-color),
    0 0 #0000;
  background: hsl(var(--bg-color) / var(--opacity));
  color: var(--color);
  font-weight: var(--font-weight);
  outline: var(--outline);
  transition: var(--transition);
  overflow: hidden;
}

.tag-checkbox:hover,
.tag-checkbox:focus {
  --opacity: 0.2;
}
.tag-checkbox.selected {
  --outline: 2px solid var(--clr-off-white);
}

.tag-name,
.tag-count {
  padding: 0 8px;
}

.tag-count {
  display: flex;
  align-items: center;
  height: calc(var(--height) - 2px);
  border-top-right-radius: var(--tag-border-raduis);
  border-bottom-right-radius: var(--tag-border-raduis);
  background: hsl(var(--bg-color) / var(--opacity));
}

/* ============== LIGHT MODE ==================== */
html[data-color-scheme="light"] .tag-checkbox {
  --color: hsl(225 10% 8%);
  --bg-color: 223 9% 85%;
}
html[data-color-scheme="light"] .tag-checkbox.selected {
  --border-color: var(--clr-primary-300);
  --outline: 2px solid hsl(var(--clr-neutral-primary-300) / 0.4);
}

html[data-color-scheme="light"] .tag-count {
  background: hsl(var(--bg-color) / 0.6);
}
html[data-color-scheme="light"] .tag-checkbox:hover,
html[data-color-scheme="light"] .tag-checkbox:focus {
  --opacity: 0.3;
}
