.header {
  background-color: rgb(18 18 23 / 0.3);
  backdrop-filter: blur(12px);
  padding: 0.75rem;
  border-bottom: 1px solid hwb(219 61% 31% / 0.1);
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 12px;
  color: var(--clr-primary-500);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

.nav__left-icons-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
