.main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
}

.main-wrapper {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(154, 52, 18, 0.0001) 0%,
      rgba(154, 52, 18, 0.1) 100%
    )
    no-repeat;

  background-size: 100% 400px;
}

.main main {
  padding: 0 1rem;
}

.main main.no-padding {
  padding: 0;
}
