.nav-item {
  --border-color: rgba(75, 85, 99, 0.2);

  font-weight: var(--fw-500);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item ~ .nav-item {
  border-top: 1px solid var(--border-color);
}

.nav-item-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  stroke: var(--clr-primary-500);
  height: 1rem;
  width: 1rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--border-color);
  padding: 1rem;
}

.close-button,
.logout-button {
  width: 100%;
}
.logout-button[type="button"][class*="button"] {
  --bg-opacity: 1;
  --bg-color: hsl(var(--clr-neutral-danger) / var(--bg-opacity));
  background-color: var(--bg-color);
  color: #fecaca;
  display: flex;
  gap: 6px;
}
.logout-button[type="button"][class*="button"]:hover {
  --bg-opacity: 0.9;
  color: #fee2e2;
}

html[data-color-scheme="light"] .nav-item {
  --border-color: rgb(214, 216, 221);
}
