a:has(.feature-post-card) {
  text-decoration: none;
  color: currentColor;
}

.feature-post-card {
  --border-color: hsl(220 9% 46% /0.2);
  --opacity: 0.9;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  /* border-width: 1px;
  border-color: var(--border-color); */
  border: 1px solid var(--border-color);
  opacity: var(--opacity);
  transition: var(--transition);
  overflow: hidden;
}

.feature-post-card:hover,
.feature-post-card:focus {
  --border-color: hsla(26, 90%, 40%, 0.4);
  --opacity: 1;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 2.5px 4px hsla(26, 78%, 53%, 0.2);
}

.thumbnail-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: hsla(220, 9%, 46%, 0.2);
  border-bottom: 1px solid var(--clr-border);
  height: 14rem;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transition: var(--transition);
  overflow: hidden;
}
.thumbnail-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: 1px 1px;
  background-repeat: repeat;
  opacity: 0.4;
  filter: saturate(5);
  mix-blend-mode: darken;
  z-index: 1;
}
.thumbnail-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 13%, 0.5);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  mix-blend-mode: darken;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.thumbnail__inner-wrapper {
  display: flex;
  align-items: end;
  height: 100%;
  width: min(28rem, 94%);
  overflow: hidden;
  z-index: 5;
}

.thumbnail {
  position: relative;
  border-top: 1px solid hsl(220 9% 46% /0.3);
  border-left: 1px solid hsl(220 9% 46% /0.3);
  border-right: 1px solid hsl(220 9% 46% /0.3);
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  width: 100%;
  filter: none;
  z-index: 6;
}

.dot-bg {
  --pattern-bg-color: transparent;
  --pattern-color: #6b7280;
  --pattern-color-55: #6b728055;
  --pattern-color-77: #6b728077;
  --pattern-opacity: 0.2;
  --pattern-size: 0.5rem;
  --pattern-size-half: calc(0.5rem / 2);

  opacity: var(--pattern-opacity, 0.4);
  background-color: var(--pattern-bg-color, transparent);
  background-image: radial-gradient(
    var(--pattern-color) calc(var(--pattern-size, 40px) * 0.1),
    var(--pattern-bg-color) calc(var(--pattern-size, 40px) * 0.1)
  );
  background-size: var(--pattern-size, 40px) var(--pattern-size, 40px);
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: 4;
}

.title {
  margin-bottom: 0.25rem;
  font-weight: var(--fw-700);
  font-size: var(--fs-500);
}

.info-wrapper {
  padding: 1rem;
}

.summary {
  color: rgb(156 163 175);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 22.75px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.tags-wrapper {
  display: flex;
  gap: 6px;
}

html[data-color-scheme="light"] .summary {
  color: var(--clr-subtitle);
}
