a:has(.feature-post-card) {
  text-decoration: none;
  color: currentColor;
}

.feature-post-card {
  --border-color: hsl(220 9% 46% /0.2);
  --opacity: 0.9;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  /* border-width: 1px;
  border-color: var(--border-color); */
  border: 1px solid var(--border-color);
  opacity: var(--opacity);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.thumbnail-wrapper {
  width: 100%;
}

.thumbnail {
  width: 100%;
}

.info-wrapper {
  padding: 1rem;
}

.summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.info__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.tags-wrapper {
  display: flex;
  gap: 4px;
}
