.row {
  --color: var(--clr-primary-100);

  color: var(--color);
}

.row td[class*="MuiTableCell-body"],
.row th[class*="MuiTableCell-body"] {
  border-color: var(--clr-border);
}
.row td[class*="MuiTableCell-body"] span,
.row th[class*="MuiTableCell-body"],
.row td[class*="MuiTableCell-root"] {
  color: var(--color);
}
.row
  td[class*="MuiTableCell-body"]
  span[class*="MuiButtonBase-root MuiCheckbox-root"] {
  color: hsla(0 0% 100% / 0.2);
}
.row td[class*="MuiTableCell-body"] span[class*="Mui-checked"] {
  color: var(--clr-primary-500);
}
.action-buttons {
  font-size: 0.875rem;
  padding: 6px;
  margin: 12px 1rem;
  min-width: 130px;
  border-radius: 12px;
  overflow: auto;
  outline: 0px;
  background: var(--clr-body-bg);
  border: 1px solid var(--clr-border);
  box-shadow: 0px 4px 6px var(--clr-body-bg);
  z-index: 2;
  color: var(--clr-off-white);
}

.edit-button,
.live-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  cursor: default;
  user-select: none;
  transition: var(--transition);
}
.live-button:hover,
.edit-button:hover {
  background-color: hsl(var(--clr-neutral-primary-500));
}

.delete-button:hover {
  background-color: hsl(var(--clr-neutral-danger));
}

/* ============== LIGHT MODE ==================== */
html[data-color-scheme="light"] .row {
  --color: var(--clr-white);
}

[data-color-scheme="light"]
  .row
  td[class*="MuiTableCell-body"]
  span[class*="MuiButtonBase-root MuiCheckbox-root"] {
  color: hsl(var(--clr-gray, 233 4% 53%));
}
[data-color-scheme="light"]
  .row
  td[class*="MuiTableCell-body"]
  span[class*="Mui-checked"] {
  color: var(--clr-primary-500);
}

[data-color-scheme="light"] .action-buttons {
  color: var(--clr-white);
}

[data-color-scheme="light"] .live-button:hover,
[data-color-scheme="light"] .edit-button:hover {
  background-color: var(--clr-primary-200);
}

[data-color-scheme="light"] .delete-button:hover {
  background-color: #fecaca;
}

[data-color-scheme="light"] .edit-button svg[class*="MuiSvgIcon-root"],
[data-color-scheme="light"] .live-button svg[class*="MuiSvgIcon-root"],
[data-color-scheme="light"] .delete-button svg[class*="MuiSvgIcon-root"] {
  color: hsl(var(--clr-neutral-gray) / 0.7);
}
