.header {
  --color: var(--clr-primary-100);
}

.header tr th {
  border-color: var(--clr-border);
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--fs-100);
  letter-spacing: 1px;
  word-wrap: break-word;
}

.header tr th span[class*="MuiCheckbox-root"] {
  color: hsla(0 0% 100% / 0.2);
}

.header tr th span[class*="Mui-checked"],
.header tr th span[class*="MuiCheckbox-indeterminate"] {
  color: var(--clr-primary-500);
}

.createdat span[class*="Mui-active"],
.createdat span[class*="Mui-active"] svg[class*="MuiSvgIcon-root"],
.updatedat span[class*="Mui-active"],
.updatedat span[class*="Mui-active"] svg[class*="MuiSvgIcon-root"] {
  color: var(--color);
}
.createdat span[class*="MuiTableSortLabel-root"]:hover,
.createdat
  span[class*="MuiTableSortLabel-root"]:hover
  svg[class*="MuiSvgIcon-root"],
.updatedat span[class*="MuiTableSortLabel-root"]:hover,
.updatedat
  span[class*="MuiTableSortLabel-root"]:hover
  svg[class*="MuiSvgIcon-root"] {
  color: var(--color);
}
