.row {
  --color: var(--clr-primary-100);

  color: var(--color);
}

.row td[class*="MuiTableCell-body"],
.row th[class*="MuiTableCell-body"] {
  border-color: var(--clr-border);
}
.row td[class*="MuiTableCell-body"] span,
.row th[class*="MuiTableCell-body"],
.row td[class*="MuiTableCell-root"] {
  color: var(--color);
}
.row
  td[class*="MuiTableCell-body"]
  span[class*="MuiButtonBase-root MuiCheckbox-root"] {
  color: hsla(0 0% 100% / 0.2);
}
.row td[class*="MuiTableCell-body"] span[class*="Mui-checked"] {
  color: var(--clr-primary-500);
}
