.button {
  --height: 2rem;
  --width: 2rem;
  --border-radius: 9999px;
  --border: inset 0 0 0 0px #fff, inset 0 0 0 1px var(--clr-border), 0 0 #0000;
  --padding: 0;

  --color: var(--clr-primary-500);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height);
  width: var(--width);
  color: var(--color);
  padding: var(--padding);
  box-shadow: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.button:hover:not(.transparent):not(.x-small):not(.primary) {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.transparent {
  --border: none;
  --width: fit-content;
}

.icon {
  --width: 2rem;
  --border-radius: 9999px;
}
.small {
  font-size: var(--fs-300);
}

.x-small {
  font-size: var(--fs-300);
  --height: auto;
  --padding: 0;
}
.large {
  --height: 40px;
  --width: 40px;
}

.primary {
  --color: var(--clr-primary-300);
}
