@import url(https://db.onlinewebfonts.com/c/d2131eb0b29a303e6cb097d456593104?family=dc-ui-font);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  color-scheme: dark;

  --user-font-scale: 1rem - 16px;

  --ff-primary: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* FONT SIZE */
  --fs-100: 11px;
  --fs-200: 12px;
  --fs-300: 13px;
  --fs-400: 14px;
  --fs-450: 14.5px;
  --fs-500: 16px;
  --fs-600: 18px;
  --fs-700: 24px;

  /* FONT WEIGHT */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* COLORS */
  --clr-primary-100: hsl(32, 19%, 88%);
  --clr-primary-200: hsl(32, 98%, 83%);
  --clr-primary-300: hsl(27, 96%, 61%);
  --clr-primary-400: hsl(27, 77%, 56%);
  --clr-primary-500: hsl(26, 90%, 40%);
  --clr-primary-600: hsl(13, 81%, 15%);

  --clr-neutral-primary-200: 32 98% 83%;
  --clr-neutral-primary-300: 27 96% 61%;
  --clr-neutral-primary-400: 27 77% 56%;
  --clr-neutral-primary-500: 26 90% 40%;
  --clr-neutral-primary-600: 13 81% 15%;

  --clr-white: hsl(0 0% 100%);
  --clr-off-white: hsl(0 0% 95%);
  --clr-off-white: hsl(0 0% 95%);
  --clr-light-gray-400: hsl(216 12% 84% / 0.9);
  --clr-light-gray: hsl(218 11% 65%);
  --clr-border: hsla(0 0% 100% / 0.1);
  --clr-neutral-border: 0 0% 100%;
  --clr-card-bg: hsla(240, 12%, 5%, 0.8);
  --clr-body-bg: hsl(225 10% 8%);
  --clr-neutral-body-bg: 225 10% 8%;

  --clr-neutral-border: 0 0% 100%;
  --clr-neutral-off-white: 0 0% 95%;

  --clr-danger: hsl(0 77% 53%);
  --clr-neutral-danger: 0 77% 53%;

  /* ANIMATION */
  --transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration-base: 200ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  min-height: 100dvh;
  line-height: 1.333;
  font-weight: normal;
  background: #131317;
  font-size: clamp(
    1rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
}

main {
  --header-height: 57px;
  --footer-height: 105px;

  min-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
}

h1 {
  font-size: var(--fs-700);
  color: var(--clr-white);
  font-weight: var(--fw-700);
}

a {
  text-decoration: none;
  color: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.card:is(:hover) .read-more-btn svg,
.card:is(:focus) .read-more-btn svg {
  transition: var(--transition);
  transform: translateX(0.125rem);
}

.container {
  width: min(700px, 100%);
  margin-inline: auto;
}
