.input-container {
  --border-radius: 4px;
  --border-color: var(--clr-border);
  --border-hover: 0 0 0 1px hsla(var(--dark, 18 31% 51%) / 0.9);
  position: relative;
}

[class*="error"] {
  border-color: var(--border-color);
  box-shadow: 0 0 0 1px var(--border-color);
}

[id*="error-for-"] {
  color: hsl(var(--clr-neutal-danger, 0 77% 53%));
  font-size: 14px;
  padding-top: 5px;
}

.error {
  --border-color: hsl(var(--clr-neutal-danger, 0 77% 53%));
}

.input {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  visibility: hidden;
}

.input-field-wrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.input-field-wrapper:focus-within,
.input-field-wrapper:hover {
  position: relative;
  border: 1px solid var(--border-color);
  box-shadow: var(--border-hover);
}

.input-field {
  width: 100%;
  padding: 13.5px 11px;
  border-radius: var(--border-radius);
  border: 0;
  outline: 0 solid #0000;
  z-index: 1;
}
